.NavbarText{
  color: black;
  font-size: large;
  top: 40%;
  margin: 0;
  padding: 0%;
  font-style: bold;
  z-index: 10 ;
  text-align: center;
  color: rgb(37, 32, 105);
  

}

.NavbarDiv{
  z-index: 15;
  position: fixed;
  border-radius: 10px;
  width: 99%;
  top:10px;
  left:50%;
  transform: translate(-50%, 0%);
  height: 70px;
  background-color: rgb(71, 171, 252);

}

.Topnav .icon {
  display: none;
}

.logobutton{

  background-color: transparent;
  border: 0;
  vertical-align: 50%;
  height: 100%;
  left: 100px;
  margin:0;
  padding: 0%;
  position: absolute;
}

.logo{
  margin:0;
  padding: 0%;
  position: absolute;
  top:50%;

  height:20px;
  transform: translate(-50%, -50%);
  border: 0;
  cursor: pointer;
  
}

.profile-nav-container
{

  background-color: transparent;
  border: 0;
  height:  100%;
  width: fit-content;
  left: 30%;
  transform: translate(-50%, -0%);
  margin:0;
  padding: 0%;
  position: absolute;
}

.profilebutton{

  background-color: transparent;
  border: 0;
  height:  100%;
  width: fit-content;
  position: absolute;
  img{
    border-radius: 50%;
  }
}

.profilebuttonText{

  background-color: transparent;
  border: 0;
  width: fit-content;
  align-self: center;
  height:  100%;
  left: 40px;
  margin:0;
  padding: 0px 10px 0px 10px;
  position: relative;
  cursor: pointer;
  &:hover .NavbarText{

  }
  
}

.profilebuttonText:after {
  content: "";
  position: absolute;

  left: 0;
  right: 100%;
  bottom: 15px;
  background: rgb(226, 213, 26);
  height: 3px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.profilebuttonText:hover:after,
.profilebuttonText:focus:after,
.profilebuttonText:active:after {
  right: 0;
}

.FavoritebuttonText{

  background-color: transparent;
  border: 0;
  width: fit-content;
  align-self: center;
  height:  100%;
  left: 50%;
  transform: translate(-50%, -0%);
  margin:0;
  padding: 0px 10px 0px 10px;
  position: absolute;
  cursor: pointer;
  &:hover .NavbarText{

  }
  
}

.FavoritebuttonText:after {
  content: "";
  position: absolute;

  left: 0;
  right: 100%;
  bottom: 15px;
  background: rgb(226, 213, 26);
  height: 3px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.FavoritebuttonText:hover:after,
.FavoritebuttonText:focus:after,
.FavoritebuttonText:active:after {
  right: 0;
}

.AboutbuttonText{

  background-color: transparent;
  border: 0;
  width: fit-content;
  align-self: center;
  height:  100%;
  left: 70%;
  transform: translate(-50%, -0%);
  margin:0;
  padding: 0px 10px 0px 10px;
  position: absolute;
  cursor: pointer;
  &:hover .NavbarText{

  }
  
}

.AboutbuttonText:after {
  content: "";
  position: absolute;

  left: 0;
  right: 100%;
  bottom: 15px;
  background: rgb(226, 213, 26);
  height: 3px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.AboutbuttonText:hover:after,
.AboutbuttonText:focus:after,
.AboutbuttonText:active:after {
  right: 0;
}

.LogoutbuttonText{

  background-color: transparent;
  border: 0;
  width: fit-content;
  align-self: center;
  height:  100%;
  right: 5%;
  float:right;
  margin:0 auto;
  padding: 0px 10px 0px 10px;
  position: relative;
  cursor: pointer;
  &:hover .NavbarText{
    
  }
  
  }

  .LogoutbuttonText:after {
    content: "";
    position: absolute;
  
    left: 0;
    right: 100%;
    bottom: 15px;
    background: rgb(226, 213, 26);
    height: 3px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .LogoutbuttonText:hover:after,
  .LogoutbuttonText:focus:after,
  .LogoutbuttonText:active:after {
    right: 0;
  }

.profilepic{
  margin:0;
  padding: 0%;
  position: absolute;
  top:50%;
  height:80%;
  
  transform: translate(-50%, -50%);
  align-self: center;
  border: 0;
  cursor: pointer;
}

.logo:hover{

  height:21px;

}

.profilepic:hover{
  height:85%;
  
}




@media screen and (max-width: 710px) {

  .profilebutton {
    display: none;
  }

  .profile-nav-container{
    position:relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: fit-content;
    align-self: center;
  }

  .profilebuttonText{
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .nav-list{
    transform: translateY(-500%);
    transition: .0s;
    justify-content: center;
  }

    .nabar-toggler{
      display: grid !important;
  }

  .AboutbuttonText{
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    position:relative;
  }

  .LogoutbuttonText{

    align-content: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .FavoritebuttonText{
    position:relative;
  }

  



}
.nav-toggler-container{
  width:50px;
  height:45px;
  position:absolute;
  align-items: center;
  top:50%;
  transform: translate(-0%, -50%);
  right:30px;
  cursor:pointer;

}

.nabar-toggler{
  display: none; 
  position: relative;
  justify-content: center;
  width: 100%;
  height:100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  cursor:pointer;
 
}

.nabar-toggler .bar{

  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  transition: .4s;

  pointer-events: none;
}

.nabar-toggler .bar:nth-child(1){
  margin-top:5px;
}

.nabar-toggler .bar:nth-child(3){
  margin-bottom:5px;
}

input{
  display: none;
}

input:checked ~ * .nav-list {
  
  transform: translate(-50%, 33%);
  padding:0%;
  transition: .0s;
  position: fixed;
  left: 50%;
  top: 0%;
  width: 99.5%;
  height: 300%;
  align-items: end;
  display: grid;
  z-index: 1000;
  background-color: rgb(71, 171, 252);
  border-radius: 10px;
  border-width: 2px;
  
  border-top-style:groove;
  border-color: rgba(88, 72, 179, 0.295);
}

input:checked ~ * .nabar-toggler .bar:nth-child(1){
  position: absolute;
  top:14px;
  left:6px;
  transform: rotate(45deg);

}

input:checked ~ * .nabar-toggler .bar:nth-child(2){
  display: none;
}

input:checked ~ * .nabar-toggler .bar:nth-child(3){
  position: absolute;
  top: 18px;
  left:6px;

  transform: rotate(-45deg);

}

