* {
  caret-color: transparent;
}

.NavbarText {
  color: black;
  font-size: large;
  top: 40%;
  margin: 0;
  padding: 0%;
  font-style: bold;
  z-index: 10;
  text-align: center;
  color: #252069;
}

.NavbarDiv {
  z-index: 15;
  position: fixed;
  border-radius: 10px;
  width: 99%;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 70px;
  background-color: #47abfc;
}

.Topnav .icon {
  display: none;
}

.logobutton {
  background-color: transparent;
  border: 0;
  vertical-align: 50%;
  height: 100%;
  left: 100px;
  margin: 0;
  padding: 0%;
  position: absolute;
}

.logo {
  margin: 0;
  padding: 0%;
  position: absolute;
  top: 50%;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0;
  cursor: pointer;
}

.profile-nav-container {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 30%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  margin: 0;
  padding: 0%;
  position: absolute;
}

.profilebutton {
  background-color: transparent;
  border: 0;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
}

.profilebutton img {
  border-radius: 50%;
}

.profilebuttonText {
  background-color: transparent;
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
  left: 40px;
  margin: 0;
  padding: 0px 10px 0px 10px;
  position: relative;
  cursor: pointer;
}

.profilebuttonText:after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 15px;
  background: #e2d51a;
  height: 3px;
  border-radius: 10px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.profilebuttonText:hover:after,
.profilebuttonText:focus:after,
.profilebuttonText:active:after {
  right: 0;
}

.FavoritebuttonText {
  background-color: transparent;
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  margin: 0;
  padding: 0px 10px 0px 10px;
  position: absolute;
  cursor: pointer;
}

.FavoritebuttonText:after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 15px;
  background: #e2d51a;
  height: 3px;
  border-radius: 10px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.FavoritebuttonText:hover:after,
.FavoritebuttonText:focus:after,
.FavoritebuttonText:active:after {
  right: 0;
}

.AboutbuttonText {
  background-color: transparent;
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
  left: 70%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  margin: 0;
  padding: 0px 10px 0px 10px;
  position: absolute;
  cursor: pointer;
}

.AboutbuttonText:after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 15px;
  background: #e2d51a;
  height: 3px;
  border-radius: 10px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.AboutbuttonText:hover:after,
.AboutbuttonText:focus:after,
.AboutbuttonText:active:after {
  right: 0;
}

.LogoutbuttonText {
  background-color: transparent;
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100%;
  right: 5%;
  float: right;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  position: relative;
  cursor: pointer;
}

.LogoutbuttonText:after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 15px;
  border-radius: 10px;
  background: #e2d51a;
  height: 3px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.LogoutbuttonText:hover:after,
.LogoutbuttonText:focus:after,
.LogoutbuttonText:active:after {
  right: 0;
}

.profilepic {
  margin: 0;
  padding: 0%;
  position: absolute;
  top: 50%;
  height: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0;
  cursor: pointer;
}

.logo:hover {
  height: 21px;
}

.profilepic:hover {
  height: 85%;
}

@media screen and (max-width: 710px) {
  .profilebutton {
    display: none;
  }
  .profile-nav-container {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .profilebuttonText {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .nav-list {
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
    -webkit-transition: .0s;
    transition: .0s;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nabar-toggler {
    display: -ms-grid !important;
    display: grid !important;
  }
  .AboutbuttonText {
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    position: relative;
  }
  .LogoutbuttonText {
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .FavoritebuttonText {
    position: relative;
  }
}

.nav-toggler-container {
  width: 50px;
  height: 45px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  right: 30px;
  cursor: pointer;
}

.nabar-toggler {
  display: none;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.nabar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  -webkit-transition: .4s;
  transition: .4s;
  pointer-events: none;
}

.nabar-toggler .bar:nth-child(1) {
  margin-top: 5px;
}

.nabar-toggler .bar:nth-child(3) {
  margin-bottom: 5px;
}

input {
  display: none;
}

input:checked ~ * .nav-list {
  -webkit-transform: translate(-50%, 33%);
          transform: translate(-50%, 33%);
  padding: 0%;
  -webkit-transition: .0s;
  transition: .0s;
  position: fixed;
  left: 50%;
  top: 0%;
  width: 99.5%;
  height: 300%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -ms-grid;
  display: grid;
  z-index: 1000;
  background-color: #47abfc;
  border-radius: 10px;
  border-width: 2px;
  border-top-style: groove;
  border-color: rgba(88, 72, 179, 0.295);
}

input:checked ~ * .nabar-toggler .bar:nth-child(1) {
  position: absolute;
  top: 14px;
  left: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

input:checked ~ * .nabar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ * .nabar-toggler .bar:nth-child(3) {
  position: absolute;
  top: 18px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=navbar.component.css.map */