<div *ngIf="canUpdatePassword" class="change-password-container">
    <form (keydown.enter)="onUpdatePassword()" action="" [formGroup]="updatePasswordForm" autocomplete="off" spellcheck="false">
    <p>New password:</p>
    <input type="password" formControlName="newPassword" class="new-password-input">
    <p>Confirm new password:</p>
    <input type="password" formControlName="confirmNewPassword" class="confirm-new-password-input">
    <button [disabled]="!canUpdatePassword" class="btn btn-primary" (click)="onUpdatePassword()">Save</button>
</form>
</div>

<div *ngIf="cannotUpdatePassword" class="token-expired-message">
    <p>Your token to reset password has expired. <br><button class="btn btn-primary tologin"(click)="onClick()"> <p style="width: 100%;">Go to login</p> </button></p>
</div>


