/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: rgb(117, 91, 180);
    --primary-text-color: rgb(255, 220, 0);
    --secondary-text-color: rgb(113, 21, 126);
}

*{
    margin: 0;
}