<div class = "ContainerBox">

  <div class ="ContainerBoxRight">
    <p class = "Headline">Contact Us</p>
    <p class = "BreadText">Wanna work with us, or maybe you found errors on the site? Write to us below!</p>
    <form action="https://formsubmit.co/el/semaga" method="POST">
    <input type="hidden" name="_next" value="/main">

        <label for="name">Your name:</label>
        <input type="text" id="name" name="name" placeholder="Your Name...">
        <label for="messageTopic">Messages topic:</label>
        <select id="messageTopic" name="messageTopic">
          <option value="error">Reporting an error/bug:</option>
          <option value="buissness">I wanna do buissness</option>
          <option value="work">I wanna work for you</option>
        </select>

        <label for="message">Your Message:</label>
        <textarea name="message" id="message" cols="30" rows="8">Your message here </textarea>

        <button type="submit">send</button>

    </form>
  </div>


  <div class ="ContainerBoxLeft">
    <p class = "Headline">About TempoTune</p>
    <p class = "BreadText">TempoTune is a passion project, created from our love for music. <br>
      Our mission is to bring quality music to our users without interruptions.  <br> <br><br>
      We are a team of 4 Devolopers, trying to create the ultimate website for all things music. Our skills in both web design and programmning are unmatched. Our office is located in Denmark Ballerup, where we work everyday to give listernes amasing music, and creators the greatest place to be heard.
      <br>
    </p>
  </div>
</div>
