<div class="flex-nav">
    <div class="">

    </div>
    <div class="flex-nav-item">
        <h1>Name</h1>
    </div>
    <div class="flex-nav-item">
        <h1>Profile</h1>
    </div>
    <div class="flex-nav-item">
        <h1>Favorites</h1>
    </div>

    <div class="navbar">
        <div class="logo">
            <img class="logo-img" src="../assets/images/tempotune-logo-transparent.png" alt="Logo">
        </div>
    
        <div>
          <app-navbar class="middle"></app-navbar>
        </div>
</div>
