
<div class="container">

  <!-- gold: -->
  <div class="goldContainer">
    <p>{{gold}}</p>
  </div>

  <div class="enemysDiv">
    <div class="enemy1">
      <p>{{enemy1Name}}</p>
      <p>{{enemy1Hp}}</p>
    </div>

  <div class="enemy2">
    <p>{{enemy2Name}}</p>
    <p>{{enemy2Hp}}</p>
  </div>

  <div class="enemy3">
    <p>{{enemy3Name}}</p>
    <p>{{enemy3Hp}}</p>
  </div>

  </div>


<div class="chrsDiv">


   <!-- chrbuttons: -->
    <button class = "chrButton">
      <p>{{chr1}}</p>
    </button>

    <button class = "chrButton" style="background-color: black;">
      <p>{{chr2}}</p>
    </button>

    <button class = "chrButton" style="background-color: black;">
      <p>{{chr3}}</p>
    </button>

    <!-- spells: -->

    <div class="chrSpellsDiv">

      <div id="chr1spells">
        <button class="spell">
          <p>{{Chr1Spell}}</p>
        </button>
        <button class="spell">
          <p>o</p>
        </button>
     </div>

      <div id="chr2spells">
        <button class="spell">
          <p>o</p>
        </button>
      </div>

      <div id="chr3spells">
        <button class="spell">
          <p>o</p>
        </button>
      </div>

    </div>

    <div class="chrSpellSelectionDiv">

    </div>


  </div>
</div>

