<app-logo></app-logo>
<div class="wrapper">
	<div class="login-container">
		<h1 class="header-text">Login</h1>
		<form class="form" [formGroup]="loginForm">
			<div class="input-box">
				<input formControlName="username" type="text" required>
				<i>Username</i>
			</div>

		<div class="input-box">
			<input formControlName="password" type="password" required>
			<i>Password</i>
		</div>

			<button (click)="onLogin()" [disabled]="loginForm.invalid" type="submit" id="login-button">Login</button>
			<p>No Tempo? <a routerLink="/register"> Register now!</a></p>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Launch demo modal
			  </button>
			  
		</form>
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			  ...
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary">Save changes</button>
			</div>
		  </div>
		</div>
	  </div>

<div>
