* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #f5eded;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: #a54747;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: #5f2323;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: #c94141;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: #b84242;
  font-weight: 300;
}
p {
  padding: 5px;
  color: #d6d6d6;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18;
}
a {
  color: #ffdc00;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding-left: 5px;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
h1 {
  padding: 5px;
  color: #e0e0e0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18;
}
.container {
  max-width: 600px;
  z-index: 3;
  padding: 80px 0;
  height: 400px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari and Chrome*/
  -o-transform: translate(-50%, -50%);
  /* Opera */
  transform: translate(-50%, -50%);
}
.container h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form .input-box {
  position: relative;
  height: 48px;
  margin-bottom: 10px;
}
form .input-box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: normal;
  color: #ffffff;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 20;
  opacity: 1;
  pointer-events: none;
  transition: 0.25s ease-in;
}
form input {
  height: 48px;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0px auto 10px auto;
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 600;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  color: var(--secondary-text-color);
}
form input:focus ~ i {
  font-size: 12px;
  top: 2px;
  left: 5px;
  transform: translate(1%, 1%);
  color: #919191;
  font-family: sans-serif;
  font-weight: 600;
  transition: 0.25s ease-out;
}
form input:valid ~ i {
  font-size: 12px;
  top: 2px;
  left: 5px;
  transform: translate(1%, 1%);
}
small {
  letter-spacing: 0.5px;
  color: #000000;
}
button {
  outline: 0;
  color: white;
  border: 0;
  padding: 10px 15px;
  background-color: var(--secondary-text-color);
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  font-weight: 300;
}
button:disabled {
  color: rgba(119, 73, 119, 0.74);
  cursor: not-allowed;
  background-color: white;
}
button:disabled:hover {
  color: rgba(119, 73, 119, 0.74);
  background-color: white;
}
button:hover {
  background-color: #892ff0;
  color: white;
}
