<app-logo></app-logo>
<div class="wrapper">
	<div class="login-container">
		<h1 class="header-text">Login</h1>
		<form class="login-form1" [formGroup]="loginForm">
			<div class="input-box">
				<input formControlName="username" type="text" required>
				<i>Username</i>
			</div>

		<div class="input-box">
			<input formControlName="password" type="password" required>
			<i>Password</i>
		</div>

			<button class="login-btn" (click)="onLogin()" [disabled]="loginForm.invalid" type="submit" id="login-button">Login</button>
			<p>No Tempo? <a routerLink="/register"> Register now!</a></p>
			<a class="forgotpassword" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Reset Password
			</a>
			  
		</form>
	</div>

	<form class="reset-form1" [formGroup]="resetPassForm">
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p style="color:black;font-weight: 600;">Please enter the necessary information to reset password.</p>
				<div class="input-box">
					<b style="margin-right:20px;display:flex;">Email</b><input formControlName="email" type="text" required style="width: 300px;">					
				</div>
			</div>
			<div class="modal-footer"><button type="button" class="btn btn-primary" (click)="onResetPassword()">Reset Password</button>
			  <button id="close-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>			  
			</div>
		  </div>
		</div>
	  </div>
	</form>
<div>
