@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 300;
}
.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #6a30b6 0%, #3b76c2 100%);
  background: -moz-linear-gradient(top left, #6a30b6 0%, #3b76c2 100%);
  background: -o-linear-gradient(top left, #6a30b6 0%, #3b76c2 100%);
  background: linear-gradient(to bottom right, #6a30b6 0%, #3b76c2 100%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  transform: translateY(85px);
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  bottom: -180px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li img {
  width: 100%;
  height: 100%;
  opacity: 30%;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 110px;
  animation-delay: 2s;
  animation-duration: 25s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 35s;
  background-color: transparent;
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
  width: 80px;
  height: 80px;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 160px;
  animation-delay: 3s;
  background-color: transparent;
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 40px;
  height: 40px;
  animation-delay: 15s;
  animation-duration: 60s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 50s;
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  animation-delay: 10s;
}
.bg-bubbles li:nth-child(11) {
  left: 20%;
  width: 110px;
  height: 150px;
  animation-delay: 14s;
}
.bg-bubbles li:nth-child(12) {
  left: 50%;
  width: 180px;
  height: 180px;
  animation-duration: 20s;
  animation-delay: 16s;
}
.bg-bubbles li:nth-child(13) {
  left: 80%;
  width: 70px;
  height: 70px;
  animation-delay: 17s;
}
.bg-bubbles li:nth-child(14) {
  left: 40%;
  width: 40px;
  height: 40px;
  animation-delay: 12s;
}
.bg-bubbles li:nth-child(15) {
  left: 30%;
  width: 150px;
  height: 150px;
  animation-duration: 35s;
  animation-delay: 20s;
}
@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px) rotate(600deg);
  }
}
