
<div class="wrapper">

	
	
	<ul class="bg-bubbles">
		<li> <img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key2.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key2.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key2.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
	</ul>

    <script>
         $("#login-button").click(function(event){
		 event.preventDefault();
	 
	 $('form').fadeOut(500);
	 $('.wrapper').addClass('form-success');
});
    </script>
</div>