
<div class="wrapper">

			<img class="logo" src="/assets/images/tempotune-logo-transparent.png" alt="">


	<div class="container">
		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
			<p >No Tempo? <a href="#"> Register now!</a></p>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li> <img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key2.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key2.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key2.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key1.png" alt=""></li>
		<li><img class="key1" src="/assets/images/key3.png" alt=""></li>
	</ul>

    <script>
         $("#login-button").click(function(event){
		 event.preventDefault();
	 
	 $('form').fadeOut(500);
	 $('.wrapper').addClass('form-success');
});
    </script>
</div>