<div class="container">
    <div class="header-text">
        <div id="title" class="text">
            <p># Title</p>
        </div>
        <div id="artist" class="text">
            <p>Artist</p>   
        </div>
        <div id="album" class="text">
            <p>Album</p>
        </div>
        <div class="text">
            <svg xmlns="http://www.w3.org/2000/svg" class="clock" viewBox="0 0 512 512" fill="currentColor"><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>        </div>
          
    </div>

    <hr class="line">  
    
    
    <div (click)="setCurrentSong(track)" *ngFor="let track of tracks; index as i;" class="card">
        
        <div class="item">
            <div class="part"><p class="number">{{i + 1}}</p></div>
            <div class="part"><img class="small-cover" src="assets\images\AbstractCover.png" alt="cover"></div>
            <div class="part"><p class="title">{{track.Title}}</p></div>
        </div>
        <div class="item"><p class="artist">{{track.Artist}}</p></div>
        <div class="item"><p class="album">{{track.Album}}</p></div>
        <div class="item"><p>1:33</p></div>
            
    </div>

    <audio #player id="player" src=""></audio>
        <div> 
            <p id="timer"></p>
            <p id="end-timer"></p>
            <button (click)="previousSong()">Previous</button>
            <button onclick="document.getElementById('player').play()">Play</button> 
            <button onclick="document.getElementById('player').pause()">Pause</button> 
            <button (click)="skipSong()">Skip</button>
        </div>
   
    
        
</div>


