<div class="container">
    <div class="header-text">
        <div id="title" class="text">
            <p># Title</p>
        </div>
        <div id="artist" class="text">
            <p>Artist</p>   
        </div>
        <div id="album" class="text">
            <p>Album</p>
        </div>
        <div class="text">
            <svg xmlns="http://www.w3.org/2000/svg" class="clock" viewBox="0 0 512 512" fill="currentColor"><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>        </div>
          
    </div>

    <hr class="line">  
    
    
    <div (click)="setCurrentSong(track)" *ngFor="let track of tracks; index as i;" class="card" tabindex="0">
        
        <div class="item">
            <div class="part"><p class="number">{{i + 1}}</p></div>
            <div class="part"><img class="small-cover" src="assets\images\AbstractCover.png" alt="cover"></div>
            <div class="part"><p class="title">{{track.Title}}</p></div>
        </div>
        <div class="item"><p class="artist">{{track.Artist}}</p></div>
        <div class="item"><p class="album">{{track.Album}}</p></div>
        <div class="item"><p>1:33</p></div>
        
    </div>


    <audio #player id="player" src=""></audio>
        <div class="controls" id="controls"> 
            <button class="previous-button" (click)="previousSong()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="20px" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M459.5 440.6c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4L288 214.3V256v41.7L459.5 440.6zM256 352V256 128 96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4l-192 160C4.2 237.5 0 246.5 0 256s4.2 18.5 11.5 24.6l192 160c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V352z"/></svg></button>
            <button class="play-button" *ngIf="!playmode" onclick="document.getElementById('player').play()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="30px" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg></button> 
            <button class="pause-button" *ngIf="playmode" onclick="document.getElementById('player').pause()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="30px" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"/></svg></button> 
            <button class="skip-button" (click)="skipSong()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="20px" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M52.5 440.6c-9.5 7.9-22.8 9.7-34.1 4.4S0 428.4 0 416V96C0 83.6 7.2 72.3 18.4 67s24.5-3.6 34.1 4.4L224 214.3V256v41.7L52.5 440.6zM256 352V256 128 96c0-12.4 7.2-23.7 18.4-29s24.5-3.6 34.1 4.4l192 160c7.3 6.1 11.5 15.1 11.5 24.6s-4.2 18.5-11.5 24.6l-192 160c-9.5 7.9-22.8 9.7-34.1 4.4s-18.4-16.6-18.4-29V352z"/></svg></button>
        </div>


    <p class="timer" id="timer"></p>
    <div id="progress-bar" class="progress-bar">
        <div id="bar" class="bar">
            <div id="progress" class="progress"></div>
        </div>
    </div>
    <p class="end-timer" id="end-timer"></p>

    
        
</div>


