body{

    height:100vh;
    width: 100vw;
}


.logo{
    position:absolute;
    
    .logo-img{
        width: 250px;
        height: 120px;
        padding: 20px;
    }
}

.middle{
    position:absolute;
    width: calc(100% / 2);
    left: 50%;
    transform: translateX(-50%);
    padding:20px;
}




