.logo{
    opacity: 80%;
    z-index: 3;
    margin:0 auto;
    position: relative;
    left: 50%;
    top:18%;
    height:230px;
-moz-transform: translate(-50%, -50%); /* Firefox */
-ms-transform: translate(-50%, -50%);  /* IE 9 */
-webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
-o-transform: translate(-50%, -50%); /* Opera */
transform: translate(-50%, -50%);
    align-self: center;		


}