<div class="container">

    <div class="left-container">
        <div class="profile-picture-container">
            <img class="profile-picture" src="/assets/images/user-profile-icon.jpg" alt="Profile picture">
            <button class="btn-edit space"><img src="assets/images/edit-icon.png" alt="" style="width:13px;"></button>
        </div>
        <div class="profile-info-container-left">
            <p>I am a Profile Name</p>
            <button class="btn-favourites space">
            Favourites
          </button>
        </div>
        
    </div>

    <div class="right-container">
        <div class="profile-info-container-right">
            <h1>Profile Information</h1>
            <div class="profile-info-card">
                <div class="profile-info-box">
                    <p class="info-hero-text">Username</p>
                    <p class="info-user-text">The username</p>
                </div>
                <button class="btn-edit space"><img src="assets/images/edit-icon.png" alt="" style="width:20px;"></button>                            
            </div>

            <div class="profile-info-card">
                <div class="profile-info-box">
                    <p class="info-hero-text">Email</p>
                    <p class="info-user-text">The Email</p>
                </div>
                <button class="btn-edit space"><img src="assets/images/edit-icon.png" alt="" style="width:20px;"></button>                        
            </div>
            
            <div class="profile-info-card">
                <div class="profile-info-box">
                    <p class="info-hero-text">Password</p>
                    <p class="info-user-text">**********</p>
                </div>
                <button class="btn-edit space"><img src="assets/images/edit-icon.png" alt="" style="width:20px;"></button>                          
            </div>
            
        </div>
        
        
    </div>


</div>
