<div class="container">

    <div class="left-container">
        <div class="profile-picture-container">
            <img class="profile-picture" src="/assets/images/user-profile-icon.jpg" alt="Profile picture">
        </div>
        <div class="profile-info-container-left">
            <p>I am a Profile Name</p>
            <button class="btn-space space">
            Favourites
          </button>
        </div>
        
    </div>

    <div class="right-container">
        <div class="profile-info-container-right">
            <p class="info-hero-text">Username</p>
            <p class="info-user-text">The username</p>
            <p class="info-hero-text">Email</p>
            <p class="info-user-text">The Email</p>
            <p class="info-hero-text">Password</p>
            <p class="info-user-text">The Password?</p>
            <!-- <button>Favourites</button> -->
           

        </div>
        
        
    </div>


</div>
